table{
    width:30%;
    text-align: center;
}
table,td,th{
  border:1px solid blue;
border-collapse: collapse;

}
.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}